<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HackModMouse.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <HackModMouse.My.MySettings>
            <setting name="xmbclick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showcursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="scrollActivate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lcCompat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoBoot" serializeAs="String">
                <value>False</value>
            </setting>
        </HackModMouse.My.MySettings>
    </userSettings>
</configuration>